torch>=2.0.0
torchvision>=0.15.0
opencv-python>=4.7
Pillow
scikit-image
imageio
numpy>=1.23
scipy
tqdm
pyyaml
lpips
facenet-pytorch
pytorch-fid
pandas
mediapipe>=0.10
matplotlib>=3.7
seaborn
dlib
imutils
ipykernel
jupyter